.container {
    color: var(--text-primary);
    padding-bottom: 8rem;
    margin-top: 50px;
    margin: 0px 100px;
}

.profile {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.heading {
    color: var(--headline)
}
.title {
    justify-content: center;
    margin-bottom: 20px;
    color: var(--headline);
    font-family: serif;
}

.links{
    text-decoration: none;
    margin: 0 5px;
    text-decoration: none;
    color: var(--text-primary); 
}
.links:hover{
    text-decoration: none;
}

@media (max-width: 768px){

    .container {
        margin: 0 20px;
        margin-top: 20px;
    }

}