.container {
    color: #55b0d1;
    padding-bottom: 2.5rem;
    margin-top: 50px;
    margin: 0px 50px;
}

.profile {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    justify-content: center;
    margin-bottom: 50px;
}