.root {
    min-width: 500;
}

.title {
    font-size: 20;
    color: #05d992;
}

.pos {
    color: "#ffffff";
}

.button {
    color: "#ffffff";
}

.card {
    margin: 0 2% !important;    
    background: #fff;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);

}

.mainCard{
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.15), 0 4px 25px 0px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
@media(max-width: 768px) {
    .container {
        margin: 5px 0px 0px;
    }
    .card {
        margin: 2% 1% !important;
    }
}