.navBrand {
    text-decoration: none;
    font-family: serif;
    color: var(--headline); 
    font-size: 40px;
}

.navLink{
    text-decoration: none;
    margin: 0 10px;
    text-decoration: none;
    color: var(--headline); 
}
.navLink:hover{
    text-decoration: none;

}

.navBrand:hover{
    color: var(--headline); 
}

.container {
    width: 80%;
    margin: auto;
}

/* Media screen size */

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}