li {
    margin-top: 0px;
    padding: 5px 10px;
    color: #55b0d1;
}
ul{
    margin-top: 40px;
    padding: 0px 66px;

}
button {
    font-size: 30px;
    margin-right: 5px;
    color: #55b0d1;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none; 
    float: right;
}
.view {
    display: none;
    color: rgb(156, 152, 152);
}

/* Class */
.navBar {
    width: 100%;
    background-color: #222222;
    color: #55b0d1;
    padding: 5px 0px;
    height: 10%; 
}

.links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  font-weight: bold;
  float: right;
}

.show-nav {
    height: 10%;
}

.title {
  overflow: hidden;
  padding: 0px 20px 10px;
  color: #55b0d1;
  height: 10%;
  font-size: 20px;
  list-style-type: none;
  font-weight: bold;
  float: left;
}

/* Media screen size */
@media(min-width: 770px) {
    button {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
        float: right;
    }

    ul{
        margin-top: 10px;
        padding: 0px 0px;
    
    }
    li {
        padding: 0px 15px;
    }
}