.logo {
    color: var(--text-primary);
}

.logo:hover{
    color: var(--headline)
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 6rem;
    color: var(--headline);
    text-align: center;
}

h1, h4 {
    margin: 0px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
}